.editor-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
}

.editor-wrapper :deep(.monaco-editor) {
  padding-top: 8px;
}

.editor-wrapper :deep(.monaco-editor .margin) {
  background-color: var(--background-secondary) !important;
}

.editor-error-line {
  background-color: rgba(220, 38, 38, 0.1);
}
